<h2>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ score * 10 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ score * 10 }}%">
            <span class="sr-only">{{ score * 10 }} / 10</span>
        </div>
    </div>
</h2>

<h2>{{ seconds }} seconds.</h2>

<div class="result result-{{ result }}">
    {{ result }}!
</div>

<h1 style="text-align: center; padding-bottom: 16px;">{{ word.german }}</h1>

<div class="row">
    <div class="col-md-4" ng-repeat="w in otherWords" style="text-align: center; padding-bottom: 6px;">
        <button class="btn btn-primary btn-lg btn-block" ng-click="submit($index)">{{ w.english }}</button>
    </div>
</div>